/*
* Name: Internet Speed Meter
* Description: A simple and minimal internet speed meter extension for Gnome Shell.
* Author: Al Shakib
* GitLab: https://gitlab.com/AlShakib/InternetSpeedMeter
* License: GPLv3.0
*/

.netSpeedLabel {
  min-width: 105px;
  padding: 0 5px 0 5px;
  text-align: left;
}
